<div class="usersHomeContainer" ng-controller="UsersHomeController as user">
    <nav class="userHomeNav">
      <div class="title">
        StandUp<%= image_tag("lightbulb.png", :alt => "Idea by Davo Sime from the Noun Project", :class => "navIcon") %>
      </div>
      <ul>
        <!-- <li> <%= image_tag("lightbulb.png", :alt => "Idea by Davo Sime from the Noun Project", :class => "navIcon") %></li> -->
        <li><%= link_to "Home", users_home_path %></li>
        <li><%= link_to "All Bulbs", bulbs_index_path%></li>
      </ul>
    </nav>

    <form class="bulbForm" name="bulbForm">
      <h2>Create a Bulb</h2>
        <textarea class="brightBulb" name="brightBulb" ng-model="user.bulb.bright" placeholder="Share a bright bulb"></textarea>

        <textarea class="dimBulb" name="dimBulb" ng-model="user.bulb.dim" placeholder="Share a dim bulb"></textarea>

        <textarea class="blocker" name="blocker" ng-model="user.bulb.blocked" placeholder="What's been blocking you lately?"></textarea>

        <label for="panicScore">Panic Score:</label>

        <select class="panicScore" name="panicScore" ng-model="panicScore" ng-change="user.getPanicScore(panicScore)">
            <option ng-repeat="score in user.score" value="{{score}}">{{score}}</option>
        </select>

        <button type="button" name="submitBulb" ng-click="user.createBulb(bulbForm.brightBulb.$viewValue, bulbForm.dimBulb.$viewValue, bulbForm.blocker.$viewValue, user.score)">Post</button>
    </form>

    <div class="btnContainer">
      <button class="statsBtn" type="button" ng-click="user.scrollStats()">Statistics</button>
      <button class="historyBtn" type="button" ng-click="user.scrollHist()">History</button>
    </div>

    <div class="statsContainer">
      <h1>Statistics</h1><hr>
      <button type='button' class="statsToTopBtn" ng-click="user.scrollTop()">Back to Top</button>
    </div>

    <div class="histContainer">
      <h1>History</h1><hr>

      <div class="bulbCard" ng-repeat="bulb in user.bulbHist | orderBy: '-'">
        <ul class="bulbList">
          <li>
            <p>{{bulb.created_at}}</p>
          </li>

          <li>
            <p class='likes' ng-model="bulb.likes">Likes: {{bulb.likes}}</p>
          </li>
          <li>
            <%= image_tag("brightbulb.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "bulbIcon") %>
            <p>{{bulb.bright}}</p>
          </li>
          <li>
            <%= image_tag("dimbulb.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "bulbIcon") %>
            <p>{{bulb.dim}}</p>
          </li>
          <li>
            <%= image_tag("blocker.png", :alt => "wall by TDL-LONDON from the Noun Project", :class => "bulbIcon") %>
            <p>{{bulb.blocked}}</p>
          </li>
          <li>
            <%= image_tag("panic.png", :alt => "Head by Eliricon from the Noun Project", :class => "bulbIcon") %>
            <p>Panic Score: {{bulb.panic_score}}</p>
          </li>
      </div>


      <button type='button' class="histToTopBtn" ng-click="user.scrollTop()">Back to Top</button>
    </div>

</div>
