<div class="bulbsContainer" ng-controller="BulbsIndexController as timeline">

<nav class="userHomeNav">
  <div class="title">
    <div class="yellow">
    </div>
    StandUp<%= image_tag("lightbulb.png", :alt => "Idea by Davo Sime from the Noun Project", :class => "navIcon") %>
  </div>
  <ul>
    <li><%= link_to "Home", users_home_path %></li>
    <li><%= link_to "All Bulbs", bulbs_index_path%></li>
  </ul>
</nav>

<div class="switchContainer" ng-click="timeline.toggleLightSwitch()">
  <div class="on" ng-show="timeline.on">
    <%= image_tag("switchOff.png", :alt => "switch by Felix Westphal from the Noun Project", :class => "switch") %>
  </div>
  <div class="off" ng-hide="timeline.on">
    <%= image_tag("switchOn.png", :alt => "switch by Felix Westphal from the Noun Project", :class => "switch on") %>
  </div>
</div>

<div class="bulbCard" ng-repeat="bulb in timeline.allBulbs">
  <ul class="bulbList">
    <li>
      <p>{{bulb.bulb_writer}}</p>
    </li>
    <li>
      <p class='likes' ng-hide="bulb.show" ng-model="bulb.likes">Likes: {{bulb.likes}}</p>
      <p class='likes' ng-show="bulb.show">Likes: {{timeline.newLike}}</p>

      <button type="button" name="likeBtn" class="likeBtn" ng-click="timeline.incrementLikes(bulb, bulb.likes, bulb.bulb_id)">Like</button>
    </li>
    <li>
      <%= image_tag("brightbulb.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "bulbIcon") %>
      <p> {{bulb.bright}}</p>
    </li>
    <li>
      <%= image_tag("dimbulb.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "bulbIcon") %>
      <p> {{bulb.dim}}</p>
    </li>
    <li>
      <%= image_tag("blocker.png", :alt => "wall by TDL-LONDON from the Noun Project", :class => "bulbIcon") %>
      <p> {{bulb.blocked}}</p>
    </li>
    <li>
      <%= image_tag("panic.png", :alt => "Head by Eliricon from the Noun Project", :class => "bulbIcon") %>
      <p>Panic Score: {{bulb.panic_score}}</p>
    </li>
    <ul class=commentList ng-repeat="comment in bulb.comment_data">
      <li>
        <p>"{{comment.comment}}"</p>
      </li>
    </ul>
  </ul>
  <form class="addComment" name="commentForm">
    <input type="text" name="commentInput" ng-model=bulb.commentText>
    <button type="button" ng-click="timeline.addComment(bulb.commentText, bulb.bulb_id)">Comment</button>
  </form>
</div>

</div>
