<div class="bulbsContainer" ng-controller="BulbsIndexController as timeline">

<nav class="userHomeNav">
  <div class="title">
    StandUp<%= image_tag("lightbulb.png", :alt => "Idea by Davo Sime from the Noun Project", :class => "navIcon") %>
  </div>
  <ul>
    <li>Home</li>
    <li>Create</li>
    <li>Bulbs</li>
  </ul>
</nav>

<!-- <div class="bulbCard" ng-repeat="bulb in timeline.allBulbs">
  <li>Bright Bulb:{{bulb.bright}}</li>
  <li>Dim Bulb:{{bulb.dim}}</li>
  <li>Blocker:{{bulb.blocked}}</li>
  <li>Panic Score: {{bulb.panic_score}}</li> -->
  <!-- <ul ng-repeat="comment in timeline.bulbs.comment_data">
    <li>Comments:{{comment}}</li>
  </ul> -->
<!-- </div> -->

<div class="bulbCard" ng-repeat="bulb in timeline.allBulbs">
  <ul class="bulbList">
    <li>
      <p>
        Author: {{bulb.bulb_writer}}
      </p>
    </li>
    <li>
      <p>
        Likes: {{bulb.likes}}
      </p>
    </li>
    <li>
      <%= image_tag("brightbulb.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "bulbIcon") %>
      <p>
        Bright Bulb: {{bulb.bright}}
      </p>
    </li>
    <li>
      <%= image_tag("dimbulb.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "bulbIcon") %>
      <p>
        Dim Bulb: {{bulb.dim}}
      </p>
    </li>
    <li>
      <%= image_tag("blocker.png", :alt => "wall by TDL-LONDON from the Noun Project", :class => "bulbIcon") %>
      <p>
        Blocker: {{bulb.blocked}}
      </p>
    </li>
    <li>
      <%= image_tag("panic.png", :alt => "Head by Eliricon from the Noun Project", :class => "bulbIcon") %>
      <p>
        Panic Score: {{bulb.panic_score}}
      </p>
    </li>
    <ul class=commentList>Comments
      <li>
        <p>
          Comments 1
        </p>
      </li>
    </ul>
  </ul>
</div>

</div>
